@charset "utf-8";

body {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
}

canvas {
    display: none;
}

button > * {
    pointer-events: none;
}

form {
    background-color: #1C1C1C;

    justify-self: end;
    align-self: end;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 30vw;

    margin-right: 3%;
    margin-bottom: 3%;

    border: 0.25em solid #1C1C1C;
    box-shadow: #4E4E4E 0 15px 10px 5px;
}

form > input, form > fieldset > label, form > fieldset > input, form > fieldset > button {
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

form > fieldset {
    grid-column: 1 / end;
    margin-bottom: 5%;
    border: 0;
}

form > fieldset > legend {
    color: #FFF;
    font-weight: bold;
    display: none;
}

form > fieldset > label {
    color: #FFF;
    font-weight: bold;
    text-align: right;
}

form > fieldset > input {
    text-align: right;
    word-spacing: 4px;
    width: 90%;
    border-radius: 3px;
    justify-self: end;
}

form.hidden > fieldset.settings {
    display: none;
}

form > fieldset.meta {
    display: flex;
    justify-content: flex-end;

    margin-bottom: 1%;
}

form > fieldset.settings {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

form > fieldset.settings > label {
    grid-column: 1 / 2;
}

form > fieldset.settings > input {
    grid-column: 2 / end;
}

form > fieldset.settings > input[type=button]
{
    grid-column: 1 / end;
}

button, form > fieldset > input[type=button], form > input[type=submit] {
    width: 100%;
    justify-self: end;
}

form > input[type=submit] {
    justify-self: start;;
}

button, input[type=button], input[type=submit] {
    color: #FFF;
    border: 0 solid #5030C0;
    border-radius: 0;
    line-height: 1.5em;
    background-color: #556CAF;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: #5030C0;
}

button:disabled, input[type=button]:disabled, input[type=submit]:disabled {
    background-color: #555;
    border-color: #555;
}

button:disabled:hover, input[type=button]:disabled:hover, input[type=submit]:disabled:hover {
    cursor: not-allowed;
    font-weight: normal;
    background-color: #555;
}

/* -- Section -- */

section.popup {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section.hidden {
    display: none;
}

/* -- Media Queries -- */


@media screen and (max-width: 1000px) {
    form {
        width: 50vw;
    }
}

@media screen and (max-width: 750px) {
    form {
        width: 70vw;
    }
}

@media screen and (max-width: 300px) {
    form {
        width: 90vw;
    }
}

@supports (-webkit-touch-callout: none) {
    form {
        width: 100vw;
        align-self: baseline;
    }
}