@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

div.bg-image {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	background-color: rgb(12, 34, 120);
}

main {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	border: 0.25em solid #FFF;
	height: 50%;
	border-radius: 25px;
}

canvas {
	background-color: white;
	display: none;
}